@media (min-width: 860px) {
.glass-product{
    &__title{
        font-weight: 500;
        font-size: 26px;
        letter-spacing: -0.01em;
    }

    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        height: 200px;

        width: calc(20% - 12.8px);

        font-weight: 400;
        font-size: 20px;
        letter-spacing: -0.01em;
    }
}
}