.pagination{
    display: flex;
    align-items: center;

    &__item{
        aspect-ratio: 1;

        margin-left: 8px;
        &:first-child{
            margin-left: 0;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;

        font-family: var(--font-family);
        color: var(--orange);

        &.active{
            background-color: var(--orange);
            color: var(--white);
        }
    }
}

.input{
    padding: 15px 19px 14px 19px;

    border: 1px solid var(--input);

    font-family: var(--font-family);
    color: var(--black);

    &::placeholder {
        color: var(--input);
    }
}

.file{
    padding-left: 40px;

    background: 0;
    border: none;

    background-image: url(../../../img/svg/clip.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center left;
    
    &__name{
        margin-left: -11px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.01em;
        color: var(--white);
    }

    &__description{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: var(--white);
        opacity: .8;
    }

    & input{
        display: none;
    }
}