.banner{
    background-color: var(--blue);

    &__title{
        font-family: var(--second-family);
        color: var(--black);
        text-transform: uppercase;
    }
    &__text{
        margin-top: 12px;

        font-family: var(--font-family);
        color: var(--grey-t);
    }
    &__link{
        display: inline-block;
        
        font-family: var(--font-family);
        color: var(--orange);
        
        text-decoration: none;
    }
}