.glass-card{
    &__item{
        background-color: var(--orange);
    }

    &__img{
        aspect-ratio: 1;
        width: 72px;

        background-color: var(--white);

        display: flex;
        justify-content: center;
        align-items: center;

        & svg{
            aspect-ratio: 1;
            width: 32px;
        }
    }
    &__title{
        font-family: var(--second-family);
        color: var(--white);
    }
    &__text{
        font-family: var(--font-family);
        color: var(--white);
        opacity: .8;
    }
}