@media (min-width: 860px) {
.contacts{
    justify-content: space-between;

    &__content{
        width: 432px;
    }
    &__block{
        margin-top: 40.5px;
    }
    &__item{
        margin-top: 24px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.01em;
    }
    &__phone{
        font-weight: 500;
        font-size: 22px;
        letter-spacing: -0.01em;
    }
    &__contact{
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.01em;
    }

    &__map{
        margin-top: -43.69px;

        width: calc(100% - 448px);

        object-fit: cover;
        object-position: center;
    }
}
}