@media (min-width: 860px) {
.form-prod{
    padding: 39px 40px;

    &__item{
        margin-top: 32px;

        & .input{
            margin-left: 16px;
            &:first-child{
                margin-left: 0;
            }

            width: 320px;
        }
    }
}
}