.description{
    margin-top: 24px;

    border: 1px solid var(--orange);

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p:first-child{
            font-family: var(--font-family);
            color: var(--input);
        }
        & p:last-child{
            font-family: var(--font-family);
            color: var(--black);
        }
    }

    &__certificates{
        margin-top: 24px;
    }
}