@media (min-width: 860px) {
.description{
    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img{
        width: 656px;
    }

    &__content{
        width: calc(100% - 672px);
    }

    &__item{
        margin-top: 20px;
        &:first-child{
            margin-top: 0;
        }

        & p:first-child{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.01em;
        }
        & p:last-child{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.01em;
            text-align: right;
        }
    }
}

}