@media (min-width: 860px) {
.certificates{
    &__img{
        width: 100%;
        max-height: 295px;
    }

    & .swiper-pagination{
        display: none;
    }

    &__btn-tb{
        display: none;
    }
}
}