@media (max-width: 860px) {
.presentation{
    &__title{
        text-align: center;
    }

    &__content{
        margin: 16px -8px -8px -8px;

        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        margin: 8px;

        width: calc(50% - 16px);
        height: 400px;

        position: relative;
    }
    &-item{
        &__img{
            width: 100%;
            height: 100%;
        }
        &__link{
            position: absolute;
            left: 20px;
            bottom: 20px;

            width: 48px;
            aspect-ratio: 1;

            background-color: var(--orange);
            background-image: url(../../../img/svg/download-file.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }
    }

    &__add{
        margin-top: 24px;
    }
}
}