@media (max-width: 1100px) and (min-width: 860px) {
.our-products{
    &__item{
        width: calc(50% - 16px);
    }

    &__title{
        font-size: 18px;
    }

    &__text{
        margin-top: 4px;

        font-size: 16px;
    }
}
}