.tests{
    margin-top: 24px;

    &__item{
        & video{
           
        }
    }
    &-item{
        &__video{
            cursor: pointer;

            position: relative;

            &::after{
                content: '';

                position: absolute;

                background-image: url(../../../img/svg/play.svg);
                background-repeat: no-repeat;
                background-size: contain;
                pointer-events: none;
            }

            &.active{
                &::after{
                    display: none;
                }
            }
        }
    }

    &__name{
        font-family: var(--font-family);
        color: var(--black);
    }
}