@media (min-width: 860px) {
.gallery-banner{
    height: 520px;

    display: flex;

    &__img{
        width: 652px;
        height: 100%;
    }

    &__content{
        width: 100%;
        height: 100%;

        padding: 40px 0 40px 24px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__sub-title{
        margin-top: 24px;

        font-weight: 500;
        font-size: 22px;
        letter-spacing: -0.01em;
    }
    &__list{
        margin-top: 24px;

        & li{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.01em;
        }
    }


    &-footer{
        &__back{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.01em;
        }

        &__next{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.01em;
        }
    }
}
}