@media (min-width: 860px) {
.catalog-gal{
    margin-top: 24px;

    &__controller{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__catalog{
        margin: 32px -8px -8px -8px;

        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        margin: 8px;

        width: calc(33.3% - 16px);

        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.01em;
    }

    &__footer{
        margin-top: 24px;

        display: flex;
        justify-content: space-between;
    }
}
}