@media (max-width: 1400px) and (min-width: 860px) {
.article{
    &__content{
        margin: 16px -8px -8px -8px;
    }

    &__item{
        margin: 8px;

        width: calc(50% - 16px);
    }
    &-item{
        &__img{
            height: 220px;
        }
        &__text{
            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.01em;
        }
        &__link{
            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.01em;
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }
}
}