@media (min-width: 860px) {
.header{
    padding: 28px 0;

    &__logo{
        display: block;

        width: 168px;
        height: 40px;
    }

    &__phone{
        font-weight: 600;
        font-size: 18px;
    }
    &__mail{
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.01em;
    }

    &__buttons{
        margin-left: 24px;
    }
    &__btn-ph{
        display: none;
    }

    
    &__menu{
        & li{
            margin-left: 24px;
            &:first-child{
                margin-left: 0;
            }
        }

        & a{
            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.01em;
        }
    }

    &__sub-menu{
        position: absolute;
        top: 100px;
        left: 0;

        width: 100%;

        z-index: 100;

        background-color: var(--white);

        pointer-events: none;
        opacity: 0;

        transition: all .3s;

        &.active{
            top: 78px;

            pointer-events: auto;
            opacity: 1;
        }
    }
    &-sub-menu{
        &__content{
            padding: 40px;

            display: flex;
            justify-content: space-between;

            display: none;

            transition: all .3s;

            &.active{
                display: flex;
            }
        }
        &__list{
            width: 432px;

            list-style-type: none;

            & li{
                margin-top: 24px;
                &:first-child{
                    margin-top: 0;
                }

                &.active a{
                    color: var(--orange);

                    &::after{
                        background-image: url(/src/img/svg/menu-arrow-o.svg);
                    }
                }
            }

            & a{
                padding-right: 28px;

                font-family: var(--font-family);
                font-weight: 500;
                font-size: 18px;
                letter-spacing: -0.01em;
                color: var(--grey-t);
                text-decoration: none;

                position: relative;
                &::after{
                    content: '';

                    position: absolute;
                    top: 3px;
                    right: 0;

                    width: 16px;
                    aspect-ratio: 1;

                    background-image: url(/src/img/svg/menu-arrow.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        &__detail{
            width: calc(100% - 448px);

            position: relative;
        }
        &-detail__item{
            position: absolute;
            top: 0;
            right: 0;

            width: 100%;

            display: flex;
            flex-wrap: wrap;

            justify-content: space-between;

            pointer-events: none;
            opacity: 0;

            transition: all .3s;

            &.active{
                pointer-events: auto;
                opacity: 1; 
            }
        }
        &__item{
            &:nth-child(n + 3){
                margin-top: 32px;
            }

            width: calc(50% - 8px);
        }
        &__title{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.01em;
            color: var(--black);
        }
        &-item__list{
            margin-top: 12px;

            list-style-type: none;

            & li{
                margin-top: 8px;
                &:first-child{
                    margin-top: 0;
                }
            }

            & a{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                letter-spacing: -0.01em;
                color: var(--grey-t);
                text-decoration: none;
            }
        }
    }

    &__pre{
        display: none;
    }
    &__phone-menu,
    &__phone-next{
        display: none;
    }
}
}