@media (max-width: 1400px) and (min-width: 860px) {
.header{
    padding: 23px 0;

    &__menu{
        display: none;
    }

    &__sub-menu{
        display: none;
    }

    &__btn-pc{
        display: none;
    }
    &__btn-ph{
        display: block;
    }

    &__phone-menu,
    &__phone-next{
        display: block;
    }

    &__buttons{
        margin-left: 16px;

        display: flex;
    }

    &__btn-menu{
        margin-left: 16px;

        width: 50px;
        aspect-ratio: 1;
    }

    &__phone-menu{
        top: 73px;

        height: 0;
        overflow: hidden;

        z-index: 100;

        transition: all .3s;
    }
    &-phone-menu{
        &__content{
            padding: 0 20px 4px 20px;

            background-color: var(--white);

            z-index: 100;
        }

        &__menu{
            & > li{
                position: relative;
                & > a{
                    padding: 12px 28px 12px 0;

                    font-weight: 400;
                    font-size: 18px;
                    letter-spacing: -0.01em;

                    &::after {
                        top: 15px;
                    }
                }
            }
        }

        &__sub-menu{
            height: 0;
            overflow: hidden;

            transition: all .3s;
        }

        &-sub-menu__content{
            padding-top: 4px;
            padding-bottom: 16px;

            & li{
                margin-top: 16px;
                &:first-child{
                    margin-top: 0;
                }
            }

            & a{
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.01em;
            }
        }
    }

    &__phone-next{
        top: 73px;
        left: calc(100% + 20px);

        z-index: 100;

        transition: all .3s;

        &.active{
            left: -20px;
        }
    }
    &-phone-next{
        &__item{
            display: none;

            &.active{
                display: block;
            }
        }

        &__header{
            padding: 20px 16px;
        }

        &__name{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.01em;
        }

        &__content{
            padding: 16px 20px 20px 20px;
        }

        &__element{
            &:nth-child(n + 3){
                margin-top: 24px;
            }
            width: calc(50% - 8px); 
        }

        &__title{
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.01em;
        }
    }
}
}