.call{
    max-width: 878px;

    &__title{
        text-align: center;
    }
    &__text{
        font-family: var(--font-family);
        color: var(--grey-t);
        text-align: center;
    }

    &__confirm{
        display: flex;
        align-items: start;
        
        & p{
            margin-left: 12px;
            
            font-family: var(--font-family);
            color: var(--grey-t);

            & a{
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: var(--orange);
            }
        }
    }
}

@import url(call-pc.scss);
@import url(call-tab.scss);
@import url(call-ph.scss);