:root{
    --orange: #EC503C;
    --white-t-08: rgba(255, 255, 255, 0.8);
    --white: #fff;
    --grey-t: #504f5e;
    --black: #111;
    --blue: #F2F6F8;

    --font-family: "Quarion", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Tektur", sans-serif;
}

// main
.wrapper{
    margin: 0 auto;

    width: 1328px;

    position: relative;
}

@media (max-width: 1400px){
    .wrapper{
        margin: 0 20px;

        width: auto;
    }
}

// text
.section-title{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 38px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);
}

@media (max-width: 860px) {
.section-title{
    font-size: 26px;
}
}
// block

.block{
    margin: 160px auto 0 auto;

    width: 1328px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__first{
        margin-top: 32px;
    }
}


@media (max-width: 1400px){
    .block{
        margin: 140px 20px 0 20px;

        width: auto;
    }
}

// btn

.btn{
    padding: 15px 29px 13px 29px;

    border: 1px solid var(--orange);

    text-align: center;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.01em;

    text-decoration: none;

    &__transparent{
        background: none;
        color: var(--orange);
    }

    &__orange{
        background: var(--orange);
        color: var(--white);
    }

    &__100-per{
        width: 100%;
    }
}

@media (max-width: 860px){
.btn{
    padding: 13px 25px 11px 25px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
}
}

// slider
.swiper-button-next, .swiper-button-prev{
    width: 52px;
    height: 52px;

    border-radius: 50%;

    background-color: var(--white);
}
.swiper-button-next{
    right: 24px;
}
.swiper-button-prev{
    left: 24px;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 0;

    width: 52px;
    aspect-ratio: 1;
}

.swiper-button-next:after{
    background-image: url(../img/svg/slider-arrow-right.svg.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-prev:after{
    background-image: url(../img/svg/slider-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 2px;
}

.swiper-pagination-bullet{
    width: 32px;
    height: 4px;

    background-color: var(--orange);
    border-radius: 0;

    transition: all 0.3s;
}

.swiper-pagination-bullet-active{
    width: 60px;
}

@media (max-width: 860px) {
.swiper-pagination-bullet{
    width: 20px;
}

.swiper-pagination-bullet-active{
    width: 40px;
}
}

@import url(main/companents/companents.scss);
@import url(main/companents/companents-pc.scss);
@import url(main/companents/companents-tab.scss);
@import url(main/companents/companents-ph.scss);