@media (min-width: 860px) {
.years{
    margin-top: 160px;

    padding: 130px 0;

    &__content{
        display: flex;
        justify-content: space-between;
    }
    
    &__item{
        width: calc(33.3% - 0.66px);

        padding: 32px;
    }

    &__img{
        width: 72px;

        & > img{
            width: 32px;
        }
    }

    &__number{
        margin-top: 69px;

        font-weight: 600;
        font-size: 32px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }
    &__text{
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.01em;
    }
}
}