@media (min-width: 860px) {
.production{
    height: 700px;

    display: flex;
    justify-content: space-between;

    &__big-img{
        width: calc(100% - 336px);

        padding: 40px;

        font-weight: 600;
        font-size: 32px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    &__img{
        background-repeat: no-repeat;
        background-size: cover;

        border: none;
        cursor: pointer;
    }

    & .swiper{
        margin: 0;
        width: 320px;
    }
}
}